


__pycache__/
*.py[cod]
*$py.class


# Apple's stupid tilde files 
*~
# text files are inputs and likely shouldn't make it through.
*.txt
# html files from experimentation likely shouldnt make it through.
*.html
*.HTML
CLEANUP.sh
